solution_knn/config_file/data
solution_knn/sklearn2/test
solution_knn/sklearn2/test_1
solution_knn/sklearn2/test_2
solution_knn/sklearn2/test_3
solution_knn/sklearn2/test_4
solution_knn/sklearn2/test_5
